{% extends "layouts/base.njk" %}
{% block content %}

  <h1>{{ title }}</h1>

  <form action="/create" method="post">
    <div class="control">
      <input type="text" name="title" class="control__input" placeholder="Название" required>
    </div>
    <div class="control">
      <textarea name="content" class="control__textarea" placeholder="Контент" required></textarea>
    </div>
    <div class="control">
      <button type="submit" class="control__button">Сохранить</button>
    </div>
  </form>

{% endblock %}
